nav img{
    width: 180px;
    margin-top: 8px;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 90%;
}
form{
    list-style-type: none;
    font-size:15px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
nav form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 100PX;
    margin-right: 20px;
}
.container .slide_img{
    position: absolute;
    width: 100%;
    height: 89vh;
}
.container .slide_img img{
    width: inherit;
    height: inherit;
}
 .prev, .next{
    width: 5%;
    height: 10px;
    position: absolute;
    top:50%; 
  
    color:rgba(244, 244, 244,.9);
    z-index: 2;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}
.next{right:0;}
.prev{left:0;}
label span{
    position: absolute;
    font-size: 100pt;
    top: 50%;
    transform: translateY(-50%);
}
.prev:hover, .next:hover{
    transition: .3s;
    
    color: #635d5d; 
}
.container #nav_slide{
width: 100%;
bottom: 12%;
height: 11px;
position: absolute;
text-align: center;
z-index:80;
cursor: default;
}
#nav_slide .dots{
top: -5px;
width: 18px;
height: 18px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.6);
transition: .4s;
}
#nav_slide .dots:hover {
cursor: pointer;
background-color: rgba(255, 255, 255, 0.9);
transition: .25s
} 
.slide_img{z-index: -1;}
#i1:checked ~ #one  ,
#i2:checked ~ #two  ,
#i3:checked ~ #three,
#i4:checked ~ #four ,
#i5:checked ~ #five 
{z-index: 9; animation: scroll 1s ease-in-out;}
#i1:checked  ~  #nav_slide #dot1,
#i2:checked  ~  #nav_slide #dot2,
#i3:checked  ~  #nav_slide #dot3,
#i4:checked  ~  #nav_slide #dot4,
#i5:checked  ~  #nav_slide #dot5
{ background-color: rgba(255,255,255,.9);} 
@keyframes scroll{
0%{ opacity:.4;}
100%{opacity:1;}
}  

.bl-1 img{
   
height: 250px;
margin-top: 0;
padding: 0;
bottom: 0;

}

.bl-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bl-container .bl-1{
    margin-right: 140px;
    letter-spacing: 5px;
    margin-bottom: 0px;
}
.bl-container .bl-1 h1{
    color: #502F8F;
    font-weight: bold;
    padding: 10px;
    font-size: 50px;
   
}
.bl-container .bl-1 p{
    margin-left: 15px;
    line-height: 10px;
}
.bl-container .bl-2{
    margin-top: -300px;
}
td:nth-child(1){
border-right: 1px solid;


}
td:nth-child(2){
border-right: 1px solid gray;

}
tr:nth-child(1){
font-size: 48px;
letter-spacing: 3px;
font-weight: bold;
color: #502F8F;

}
tr:nth-child(2){
    font-size: 23px;
    
}
.bl-container .bl-2 p{
    font-size: 20px;
}
.bl-container .bl-2{
    margin-top: -250px;
}
.bl-3{
    margin-left: 400px;
    margin-top: -20px;
}
.bl-3 p{
margin-left: 190px;
letter-spacing: 4px;
font-weight: bold;
}
.bl-3 h1{
    font-size: 50px;
    color: #502F8F;
    margin-right: 190px;
}

/* page3 */
.page3{
    margin: 55px 64px;
}
.con1 img{
    height: 450px;
    width: 550px;
}
.con2{
    height: 455px;
    width: 550px;
    background-color: #EBE2F9;
}
.con2 p:nth-child(1){
letter-spacing: 3px;
color: #70559c;
padding-left: 50px;
padding-top: 90px;
}
.con2 p:nth-child(2){
    font-size: 30px;
    padding-left: 50px;
    padding-top: 30px;
    letter-spacing: 2px;
}
button{
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #502F8F;
    color: white;
    font-size: 18px;
   margin-left: 50px;
   margin-bottom: 0px;
   padding: 10px 30px;
}
button:hover{
    background-color:#EBE2F9 ;
    color: #502F8F;
    border-color: #502F8F;
}
.page3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* page4 */

#full{
    height: 465px;
    width: 1145px;
    margin: 55px 64px;
    background-color: #502F8F;
}
.imgbl p:nth-child(1){
    letter-spacing: 4px;
    color: white;
    margin-top: -60px;
    margin-left: -10px;
    padding-bottom: 30px;
}
.imgbl p:nth-child(2){
    font-size: 45px;
    color: white;
    margin-left: -10px;
}
.imgbl button{
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    color: #502F8F;
    font-size: 18px;
   margin-left: -20px;
   padding-bottom: -20px;
   padding: 10px 30px;
   border: none;
}
 button:hover{
    background-color:#502F8F ;
    color: white;
    border: 1px solid white;
}

#full .img1{
    
    margin-top: 10px;
}
#full{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* page5 */
.page5{
    margin: 55px 64px;
}
#li-1 img{
    height: 450px;
    width: 550px;
}
#li-2{
    height: 455px;
    width: 550px;
    background-color: #502F8F;
   
}
#li-2 p:nth-child(1){
letter-spacing: 5px;
color: white;
padding-left: 50px;
padding-top: 60px;
}
#li-2 p:nth-child(2){
    color: white;
    font-size: 36px;
    padding-left: 50px;
    padding-top: 30px;
    letter-spacing: 2px;
}
#li-2 button{
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    color: #502F8F;
    font-size: 18px;
   margin-left: 50px;
   margin-bottom: 0px;
   padding: 10px 30px;
   border: none;
}
#li-2 button:hover{
    background-color:#502F8F ;
    color: white;
    border: 1px solid white;}
.page5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* page6 */
.page6{
    margin: 55px 64px;
}
#li-4 img{
    height: 400px;
    width: 550px;
    margin-left: 40px;
    margin-top: -40px;
}
#li-3{
    height: 455px;
    width: 550px;
    background-color: white;
   
}
#li-3 p:nth-child(1){
    letter-spacing: 5px;
    color: black;
    padding-left: 0px;
    padding-top: 10px;
    margin-bottom: 20px;
    }
#li-3 p:nth-child(3){
        color: gray;
        font-size: 22px;
        padding-left: 0px;
        padding-top: 30px;
        letter-spacing: 2px;
 }
 #li-3 h1{
    color: #502F8F;
    margin-right: 0;
    font-size: 53px;
    letter-spacing: 3px;
 }
 #li-3 button{
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #502F8F;
    color: white;
    font-size: 18px;
   margin-left: 5px;
   margin-bottom: 0px;
   padding: 10px 30px;
   border: none;
}
#li-3 button:hover{
    background-color:white ;
    color: #502F8F;
    border: 1px solid #502F8F;
}
.page6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* pageimage */
#layout img{
    height: 250px;
    width: 100%;
    margin-top: -188px;
    padding-top: 0;
}
/* page7 */
.page7{
    margin: 55px 64px;
}
#li-10 img{
    height: 450px;
    width: 550px;
}
#li-12{
    height: 455px;
    width: 550px;
    background-color: white;
    background: transparent;
   
}
#li-12 p:nth-child(1){
letter-spacing: 5px;
color: black;
padding-left: 0px;
padding-top: 4px;
padding-bottom: 30px;
}
#li-12 h1{
    color: #502F8F;
    font-size: 45px;
   line-height: 50px;
    margin-bottom: 20px;
    
}
#li-12 p:nth-child(3){
    color: gray;
    font-size: 20px;
    padding-left: 0px;
    padding-top: 30px;
    line-height: 20px;
    margin-bottom: 8px;
}
#li-12 button{
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #502F8F;
    color: white;
    font-size: 18px;
   margin-left: 0px;
   margin-bottom: -60px;
   padding: 10px 30px;
   border: none;
}
#li-12 button:hover{
    background-color:white ;
    color: #502F8F;
    border: 1px solid #502F8F;}
.page7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -70px;
}

/* page8 */

#front p{
    letter-spacing: 3px;
    font-size: 20px;
    margin-left: 550px;
    margin-bottom: 15px;
}
#front h1{
    color: #502F8F;
    font-size: 57px;
    margin-left: 430px;
    margin-bottom: 65px;
}
.sci .backimg img{
   
   margin-top:-220px;
   margin-left: 740px;
}





.wrapper{
    margin-top: -600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imag{
    position: relative;
}
.imag img{
    display: block;
    margin: auto;
}
.content{
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    top: 0;
    left: 0;
    position: absolute;
    background: #502F8F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content:hover{
    opacity: 0.6;
}

/* page9 */

.first{
    margin: 55px 64px;
}
.first p{
    letter-spacing: 3px;
    font-size: 19px;
}
.first h1{
    color: #502F8F;
    font-size: 50px;
    letter-spacing: 3px;
}

#box1{
    height: 200px;
    width: 380px;
    margin-left: 170px;
    padding-top: 18px;
    box-sizing: content-box;
    padding-left: 78px;
    border: 1px solid black;   
}
#box1 p:nth-of-type(3){
    color: gray;
    letter-spacing: 0.7px;
    font-size: 16px;
}
#box1 p:nth-of-type(1){
    letter-spacing: 2px;
}
#box1 p:nth-of-type(2){
    font-size: 13px;
    letter-spacing: 1px;
}
#box1 img{
    position: absolute;
 margin-top: -170px;
   left: 130px;
}

#box3{
    height: 200px;
    width: 380px;
    margin-left: 690px;
    margin-top: -275px;
    box-sizing: content-box;
    padding-top: 18px;
    padding-left: 78px;
    border: 1px solid black;
}
#box3 p:nth-last-of-type(1){
    color: gray;
    letter-spacing: 0.7px;
    font-size: 16px;
}
#box3 p:nth-last-of-type(3){
    letter-spacing: 2px;
}
#box3 p:nth-last-of-type(2){
    font-size: 13px;
    letter-spacing: 1px;
}
#box3 img{
    position: absolute;
    left: 649px;
    margin-top: -170px;
    right: 200px;
}

/* page10 */
.video-container img{
    margin-top: 180px;
}
iframe{
    width: 88%;
    height: 98vh;
    margin-left: 80px;
    margin-top:-950px;
    padding-top: 100px;
}

/* page11 */
.footer{
    max-width: 70%;
    margin-top: 16x auto;
}
.footer, .footer a{
    color:white;
    font-size: 15   px;
    letter-spacing: 2px;
    text-decoration: none;
}
.f1{
    background-color: #502F8F;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
   
    
}
.footer li{
    list-style-type: none;
    line-height: 1.9;
    font-size: large;
}
.div1{
    margin-left: -220px;
    margin-top: 90px;
}
.div1 ul li:nth-last-of-type(7){
    margin-top: -46px;
}
.div4 ul li:nth-of-type(1){
    margin-top: -65px;
}
.div2{
    margin-left: 80px;
}
.div3{
    margin-left: 80px;
}
.div4{
    margin-left: 80px;
}
.footer-last{
    color: white;
   border-top: 1px solid white;
}
.footer-last p:nth-of-type(1){
    margin-left: 85px;
    margin-top: 17px;
    margin-bottom: 5px;
}
.footer-last p:nth-of-type(2){
    margin-left: 1059px;
    margin-top: -18px;
    letter-spacing: 2px;
    
}